# Habilitar el motor de reescritura de URL
RewriteEngine On

# Desactivar la indexación de directorios
Options All -Indexes

# Redirigir todas las solicitudes a index.php, pasando la parte de la URL solicitada como parámetro 'views'
RewriteRule ^([a-zA-Z0-9/ñÑ-]+)$ index.php?views=$1